<launch>
    <node name="gmsl_camera" pkg="gmsl_camera" type="gmsl_camera_node" output="screen" launch-prefix="gdb -ex run --args">
        <!--device_type: gmsl  usb  rtsp  hik_sdk-->
        <param name="device_type" value="gmsl"/>
        <!--device_address: device's hardware io address : "/dev/video0" "rtsp://...." "192.168.1.1"-->
        <param name="device_address" value="/dev/video0"/>
        <param name="image_width" value="1920" />
        <param name="image_height" value="1080" />
        <param name="fps" value="30"/>
        <!--pixel_format: yuyv uyvy mjpeg yuvmoni10 rgb24 grey other-->
        <param name="pixel_format" value="uyvy" />
    </node>
</launch>